mido==1.2.10
pretty-midi==0.2.9
tqdm==4.62.3
names~=0.3.0
pathlib~=1.0.1
pygame~=2.0.1
mingus~=0.6.0
Wave~=0.0.2
numpy~=1.26.4
google~=3.0.0
setuptools~=59.8.0
librosa~=0.10.0.post2
pydub~=0.25.1
scipy~=1.9.1
bokeh~=2.4.3
pandas~=1.5.1
ipython~=7.26.0
attrs~=22.1.0
fluidsynth~=0.2
six~=1.16.0
future~=0.18.2
Pillow~=9.2.0
argparse~=1.4.0
PySimpleGUI~=4.60.3
PyQt5~=5.15.2
requests~=2.31.0
PySide6~=6.1.2
packaging~=23.0
opencv-python~=4.7.0.68
jsonreader~=0.0.1
midi2audio~=0.1.1
click~=8.1.3